*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

}


header{
    background-color: antiquewhite;
    max-width:  90%;
    margin:auto;
    height: 100%;
}

nav{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 40px;
    align-items: center;
}

nav .nav-links{
    display: flex; align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    text-decoration: none;
}

.logo-container{
    background-color: blue;
}


main{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    background-color: brown;

    
}

.left{
    align-items: center;
    background-color: rgb(113, 102, 78);
    width: 50%;

}
.right{
    background-color: rgb(232, 149, 40);
    width: 50%;
}
.right img{
    height: 200%;

    
}
.icon-container{
    padding-top: 20px;
}




