*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(../black-background.avif);
    background-size: cover;
    background-position: center;
}
header{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: antiquewhite;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.navlinks{
    color: antiquewhite;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 40px;
}
.navlinks :hover{
    color: whitesmoke;
}
.buttons {
    color: rgb(22, 21, 20);
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid black;
    transition: all.4s ease;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

a{
    color: rgb(225, 140, 29); 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
ul{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
}
.container{
    flex-direction: column;
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgb(247, 240, 240);
}
.navigation i{
    color: antiquewhite;
}
.right img{
   width: 500px;
   border-radius: 20px 30px;

   
}
main .left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.navigation h1{
    font-size: 20px;
}
.navigation img{
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}

.navigation{
    display: flex;
    gap: 10px;
    height: 50px;
}
